# Python
__pycache__/
*.pyc
.ipynb_checkpoints/

# Virtual environments
venv/
.venv/

# Environment files
.env

# C++ / compiled files
*.exe

# Unrelated practice files
practice/

# OS files
.DS_Store
Thumbs.db